.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  font-family: 'Saira Condensed', sans-serif;
  background: linear-gradient(to bottom right, rgb(68, 68, 68),rgb(226, 226, 226));
}

input[type="text"],
input[type="password"] {
  height: 2.5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin-top: 1.5rem;
  text-align: center;
  outline: none;
}

input[type="submit"] {
  margin-top: 30px;
  cursor: pointer;
  font-size: 15px;
  background: #ffffff;
  border: 1px solid rgb(190, 86, 0);
  border-radius: 20px;
  color: rgb(190, 86, 0);
  padding: 10px 20px;
  transition: 0.2s;
  outline: none;
}

input[type="submit"]:hover {
  background: #d1d1d1;
}

.button-container {
  display: flex;
  justify-content: center;
}

.login-form {
  background-color: #2e2d26;
  padding: 4rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  border: 15px;
  background: rgb(240, 114, 10);
}


.error {
  color: #969553;
  font-size: 12px;
}

.login {
  font-size: 45px;
  font-weight: 200;
  font-style: calc();
  margin-bottom: 20px;
  color: #fff;
  list-style:none; 
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.input-container label{
  text-align: center;
  padding: 1ch;
}

ul {
  list-style: none;
}

.logo-div-2 {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 0 0 5px 5px;
}

.logo-2 {
  width: 200px;
  height: 144px;
}