html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    background-color: rgb(235, 233, 233);
}

.wrapper {
    min-height: 100%;
    position: relative;
    width: 100%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}